h2:not(.subtitle) {
    font-weight: 300;
    font-size: 1.3rem;
    margin-top: 1rem;
    display: inline-block;
    border-bottom: 1px #333 solid;
}

*[lang="jp"] h2,
*[lang="zh"] h2,
*[lang="zh-tw"] h2 {
    letter-spacing: .2rem;
}

*[lang="en"] h2,
*[lang="fr"] h2:not(.subtitle),
*[lang="eu"] h2,
*[lang="tp"] h2 {
    font-style: italic;
}

.subtitle {
    color: steelblue;
    line-height: 4rem;
    font-size: 2.5rem;
    font-weight: 500;
    font-family: 'Lexend', 'Noto Sans JP', sans-serif;
}

h2:not(.subtitle)::before {
    display: inline;
    content: attr(data-num);
    letter-spacing: normal;
    padding-right: 1rem;
}

h4 {
    color: inherit;
    font-weight: 700;
}

.data {
    color: #555;
    text-align: right;
    font-family: 'Lexend', 'Noto Sans JP', sans-serif;
    font-weight: 300;
}

p[lang="ru"] ruby {
    ruby-align: start;
    ruby-position: under;
}

ruby[title] {
    color: steelblue;
}

.trd {
    border-left: solid 4px darkcyan;
    padding-left: 12px;
}

p[lang="ru"] rt {
    color: steelblue;
}


section {
    margin: 2rem 0;
}

rt {
    font-size: 0.7rem;
}

[data-ruby] {
    position: relative;
    width: fit-content;
    display: inline-block;
}

[data-ruby]::after {
    content: attr(data-ruby);
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    line-height: 1rem;
    width: max-content;
    text-align: left;
    color: steelblue;
    font-size: smaller;
    overflow: visible;
    white-space: nowrap;
    ;
}

.originalText {
    color: darkcyan;
    font-weight: 700;
    line-height: 1rem;
    margin-bottom: 0;
    margin-top: 2rem;
}

.translatedText {
    line-height: 1rem;
    margin-top: 0;
    margin-bottom: 4rem;
}

.gloss {
    word-spacing: 1.8rem;
}

#r040322a0 {
    font-weight: 300;
    background-color: steelblue;
    color: white;
    padding: 0.2rem;
}

#r040322a0::after {
    content: '▼';
    right: 0.4rem;
    position: absolute;
}

#r040322a2 {
    position: relative;
}

#r040322a3 {
    position: relative;
}

#r040322a1 {
    font-weight: 300;
    padding: 0.4rem;
    border: solid steelblue 1px;
}

#r040322a1::after {
    content: '▲';
    background-color: steelblue;
    color: white;
    position: absolute;
    right: 0.4rem;
    top: -1.6rem;
}

.code {
    font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
    background-color: rgb(31, 51, 51);
    color: lightgray;
    padding: 1rem;
    padding-left: calc(2.8rem + 2px);
    counter-reset: item;
}

.code p {
    line-height: 1rem;
    padding: 0;
    text-indent: calc(-1.8em - 2px);
    margin: 0.2rem;
}

.code p::before {
    counter-increment: item;
    content: counter(item, decimal-leading-zero);
    padding-right: 0.2rem;
    margin-right: 0.4rem;
    border-right: solid 2px palevioletred;
    color: white;
}

.vari {
    color: lightsalmon;
}

.stri {
    color: lightgreen;
}

.func {
    color: lightskyblue;
}

.meth {
    color: lightcoral;
}

.attr {
    color: white;
}

.inte {
    color: lightgoldenrodyellow;
}

.table040322a {
    width: 100%;
    table-layout: fixed;
    font-weight: 300;
    border-collapse: collapse;
}

.table040322a td {
    padding: 0.2rem;
}

.table040322a tr:nth-child(odd) td {
    background-color: rgb(187, 222, 236);
}

.table040601a {
    font-weight: 300;
    margin-bottom: 2em;
}

.table040601a td {
    padding: 0.2rem;
}

.table040601a tr:first-child {
    color: darkcyan;
    font-weight: 600;
}

.table040601a tr:nth-child(3) td {
    color: darkcyan;
    font-size: smaller;
}

.table050828a {
    border: none;
    width: 350px;
    text-align: center;
    margin: 10px;
}

.table050828a th {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}


@media screen and (min-width:480px) {
    .code p {
        width: calc(100% - 0.4rem);
        border-bottom: solid 1px lightslategray;
    }

}

@media screen and (max-width:480px) {
    .code {
        overflow-x: scroll;
    }

    .code p {
        white-space: nowrap;
        width: 100%;
    }

    *[lang="en"] p,
    *[lang="fr"] p,
    *[lang="eu"] p,
    *[lang="tp"] p {
        line-height: 2rem;
    }
}