@font-face {
    font-family: "vekos";
    font-weight: regular;
    src: url("../font/vekos-thin.woff") format("woff");
}

@font-face {
    font-family: "vekos";
    font-weight: 500;
    src: url("../font/vekos-regular.woff") format("woff");
}

@font-face {
    font-family: "vekos";
    font-weight: bold;
    src: url("../font/vekos-bold.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

h1 {
    font-weight: 500;
    font-family: 'Lexend', 'Noto Sans JP', sans-serif;
}

h3 {
    color: darkcyan;
    font-weight: 700;
    font-family: 'Lexend', 'Noto Sans JP', 'Noto Sans SC', sans-serif;
}

p,
ul li,
dl {
    font-weight: 300;
    text-align: justify;
    margin: 1rem 0;
    line-height: 3rem;
}

strong {
    font-weight: 500;
}

dt,
dd {
    display: inline-block;
}

dt {
    width: 5rem;
}

*[lang="jp"],
*[lang="ru"],
.latin {
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}

*[lang="zh"] {
    font-family: 'Noto Sans', 'Noto Sans SC', sans-serif;
}

*[lang="zh-tw"] {
    font-family: 'Noto Sans', 'Noto Sans TC', sans-serif;
}

*[lang="en"],
*[lang="fr"],
*[lang="tp"],
*[lang="eu"] {
    font-family: 'Merriweather', serif;
}

*[lang="xal"] {
    font-family: 'vekos', sans-serif;
}

*[lang="xal"] h3 {
    font-family: 'vekos', sans-serif;
    font-weight: bold;
}

*[lang="en"] p,
*[lang="fr"] p,
*[lang="tp"] p,
*[lang="eu"] p,
*[lang="xal"] p {
    text-align: left !important;
}

article a,
footer a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    position: relative;
    border-bottom: 1.6px steelblue dotted;
    line-height: 1.5;
}

article a:hover,
footer a :hover {
    color: steelblue;
    font-weight: 500;
    border-bottom: 1.4px solid;
}

a sup {
    border-bottom: none;
    color: steelblue;
}

cite {
    font-size: inherit;
}

article {
    width: 50vw;
    margin: 0 auto;
}

footer {
    background: #222;
    color: white;
    height: 6rem;
}

footer p {
    text-align: center;
    font-weight: 300;
    line-height: 2rem;
    font-family: 'Lexend', 'Noto Sans JP', sans-serif;
    ;
}

i {
    font-size: inherit;
}

#returnkey {
    position: fixed;
    bottom: 0;
}

#returnkey p {
    font-family: 'Lexend', 'Noto Sans JP', sans-serif;
    font-weight: 500;
    color: steelblue;
}

@media screen and (min-width:480px) {
    footer p {
        margin: auto 25%;
    }

    header {
        height: 7rem;
        color: black;
    }

    h1 {
        display: inline-block;
        margin: 2rem 2rem;
        font-size: min(6vw, 3rem);
        line-height: 4rem;
    }

    article {
        width: 50vw;
    }

    #returnkey {
        left: 2rem;
    }

    #returnkey div {
        position: absolute;
        transform: translate(-50%, -50%);
        transform: rotate(45deg);
        right: 30%;
        bottom: calc(50% + 2rem);
        height: 2rem;
        width: 2rem;
        border-left: steelblue solid 8px;
        border-bottom: steelblue solid 8px;
    }
}

@media screen and (max-width:480px) {
    header {
        height: 25vh;
        background: #222;
        color: white;
        position: relative;
    }

    h1 {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 6vw;
        text-align: center;
        line-height: 3rem;
    }

    .subtitle {
        line-height: normal;
    }

    article {
        width: 80vw;
    }

    #returnkey {
        background-color: rgba(255, 255, 255, 0.8);
        height: 1.5rem;
        padding: 0 0.25rem;
        bottom: 1rem;
        display: flex;
        align-items: center;
        left: 1rem;
    }

    #returnkey div {
        transform: rotate(45deg);
        height: 0.5rem;
        width: 0.5rem;
        border-left: steelblue solid 3px;
        border-bottom: steelblue solid 3px;
    }

    #returnkey p {
        line-height: 1rem;
        height: 1rem;
        margin: 0;
        padding: 0;
    }

}