* {
    margin: 0;
    padding: 0;
    font-size: 14px;
}
h1, h2{
    font-weight: 500;
    font-family: 'Lexend', 'Noto Sans JP', sans-serif;
}
h2 {
    color: steelblue;
    line-height: 5rem;
    font-size: 2.5rem;
}
h3 {
    color: darkcyan;
    font-weight: 700;
}
p, ul li {
    font-weight: 300;
    text-align: justify;
    margin: 1rem 0;
    line-height: 3rem;
}
*[lang="jp"], *[lang="ru"]{
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}
*[lang="zh"]{
    font-family: 'Noto Sans', 'Noto Sans SC', sans-serif;   
}
*[lang="en"], *[lang="fr"], *[lang="tp"]{
    font-family: 'Zilla Slab', serif;
}
article a, footer a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    border-bottom: steelblue 1.6px solid;
}
article a:hover, footer a :hover{
    color: steelblue;
    font-weight: 500;
}
a sup{
    border-bottom: none;
    color: steelblue;
}
cite{
    font-size: inherit;
}
article {
    width: 50vw;
    margin: 0 auto;
}
footer {
    background:#222;
    color: white;
    height: 6rem;
}
footer p{
    text-align: center;
    font-weight: 300;
    line-height: 2rem;
    font-family: 'Lexend', 'Noto Sans JP', sans-serif;;
}


@media screen and (min-width:480px) {
    footer p{
        margin: auto 25%;
    }
    header {
        height: 7rem;
        color: black;
    }
    h1{
        display: inline-block;
        margin: 2rem 2rem;
        font-size: min(6vw,3rem);
        line-height: 4rem;
    }
    article {
        width: 50vw;
    }
}
@media screen and (max-width:480px) {
    header {
        height: 50vh;
        background: #222;
        color: white;
        position: relative;
    }
    h1{
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 10vw;
        text-align: center;
        line-height: 4rem;
    }
    article {
        width: 80vw;
    }

}